:host {
    display: flex;
    flex: 1;
}

.fab-bottom-right {
    position: fixed;
    right: 16px;
    bottom: 16px;
}


md-toolbar {
    box-shadow : 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    position: relative;
    z-index: 10;
    color: hsla(0,0%,100%,.87);
}